/* Style for body */
.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Style for Home Buttons */
.home-btn {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 20.58px;
}

.active-btn {
    background-color: purple;
    color: white;
}

/* Classes to change the display */
.show {
    display: block;
}

.hide {
    display: none;
}

/* Style for Task Box and Form */
.bigbox{
    margin-top: 4%;
    display: flex;
}

.task {
    margin: auto;
}

.form {
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

/* Styling Input Areas and Buttons */
.input {
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    z-index: 1;
    text-align: center;
}

.inputarea {
    position: relative;
    margin-bottom: 17px;
}

.inputarea textarea {
    text-align: justify;
    resize: none;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 9px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

a{
    text-decoration: none;
}

.submit-btn {
    display: block;
    margin: auto;
    margin-top: 17px;
    padding: 10px 50px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}

.submit-btn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
}

.input:focus {
    border: 2px solid purple;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.rotatey{
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: black;
    color: white;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    text-align: justify;
    overflow-y: auto;
}

.innertext{
    word-wrap: break-word;
    padding: 5%;
}

.optcard{
    margin-top: 3%;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}

.optcard i{
    font-size: 40px;
    color: red;
    margin: auto;
}

.optcard i:hover{
    cursor: pointer;
}

.flip-card {
    background-color: transparent;
    margin-top: 11%;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-bottom: 2%;
}

@media (min-width:1000px){
    .flip-card {
        background-color: transparent;
        margin-top: 5%;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-bottom: 2%;
    }
}

.myname{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 200px auto 50px;
}