/* Style for body */
.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Style for Home Buttons */
.home-btn{
    margin: auto;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 20.58px;   
}

.active-btn{
    background-color: purple;
    color: white;
}

/* Classes to change the display */
.show{
    display: block;
}

.hide{
    display: none;
}

/* Style for Task Box and Form */
.task {
    /* display: flex; */
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 35%;
}

.form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

/* Styling Input Areas and Buttons */

.input {
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    background: none;
    z-index: 1;
    text-align: center;
}

.inputarea {
    position: relative;
    margin-bottom: 17px;
}

.inputarea textarea{
    text-align: justify;
    resize: none;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 9px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submit-btn {
    display: block;
    margin: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
}

.input:focus {
    border: 2px solid purple;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}